.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 100%;
}

.contact-form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

/* Media query for mobile responsiveness */
@media (max-width<768px) {
  .contact-form-container {
    width: 100%;
  }

  .contact-form {
    padding: 1rem;
  }

  .contact-form label {
    font-size: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem;
    padding: 10px;
  }

  .contact-form textarea {
    height: 80px;
  }
}
