.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    
  }
  
  .contact-form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: none;
    height: 100px;
  }
  
  /* .contact-form button {
    background-color: #fbc02d;
    color: #000;
   
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    margin: 0 auto;
  }
   */