.features {
    text-align: center;
    padding: 40px;
    font-family: 'Arial', sans-serif;
  }
  
  .features h1, .WhyWe h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #34346B;
  }
  
  .features-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px; /* Adds spacing between boxes */
  }
    .feature-box {
      align-items: center;
      background-color: inherit;
      border: 1.6px solid #CC5500;
      border-radius: 10px;
      box-sizing: border-box;
      color: #19f800;
      display: flex;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 400;
      height: 135px;
      justify-content: flex-start;
      line-height: 24px;
      max-height: 140px;
      min-height: 135px;
      padding: 24px 12.8px;
      transition: all 0.5s ease-in;
      width: 312px;
      -webkit-tap-highlight-color: transparent;
      text-size-adjust: 100%;
      unicode-bidi: isolate;
    }
    
  
  
  .feature-box:hover {
    transform: scale(1.05);
  }
  
  .icon {
    height: 60px;
    width: 60px;
    font-size: 40px;
    color:#FFDB58;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
  .feature-box p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #0f0808;
  }
  