.footer{
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    border: 3px solid #dfdede;   
}
.element {
  border-bottom: 1px dashed #F2F2F2;  
  }
  
.seva{
    color:#04fb0c ;
    display: inline;
}
.ride{
    color: #fbc918 ;
    display: inline;
}
/*chatgpt*/
.footer.light {
    background-color: inherit;
    color: #101111;
  }
  
  .footer.dark {
    background-color: inherit;
    color: white;
  }
  
  .footer .text-black {
    color: white; /* Inherit the color based on dark or light mode */
  }
  