.footer{
    font-size: small;
    /* font-style: italic; */
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: black;
    border: 3px solid #dfdede;   
}
.element {
   
    border-bottom: 1px dashed #F2F2F2;
     
  }
  
.seva{
    color:#324595 ;
    display: inline;
}
.ride{
    color:#e50614 ;
    display: inline;
}
/*chatgpt*/
.footer.light {
    background-color: #ffffff;
    color: #333333;
  }
  
  .footer.dark {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
  
  .footer .text-black {
    color: inherit; /* Inherit the color based on dark or light mode */
  }
  