/* Basic button styling */
.theme-toggle-button {
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Dark mode styles for the button */
  body.dark-mode .theme-toggle-button {
    background-color: #333;
    color: #fff;
  }
  
  /* Global styles for dark mode */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  